<!doctype html>
<html lang="zh" ng-app="natoPlay">
<head>
<meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"/>
<!-- UI -->
<script src="assets/js/angular.js"></script>
<script src="assets/js/angular-animate.min.js"></script>
<script src="assets/js/angular-aria.min.js"></script>
<script src="assets/js/angular-messages.min.js"></script>
<script src="assets/js/angular-material.min.js"></script>
<script src="assets/js/angular-resource.js"></script>
<link rel="stylesheet" href="assets/css/angular-material.min.css">

<!-- Logic -->
<script src="assets/js/app.js"></script>

<title>natoPlay-ng</title>
</head>
  <!-- header -->
  <div layout="column" ng-controller="mainController" ng-cloak>
  <md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
    <h2><span>natoPlay-ng</span></h2>
    <span flex></span>
    <md-menu>
      <md-button aria-label="菜單..." class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-svg-icon="assets/img/more.svg"></md-icon>
      </md-button>
      <!-- header menu -->
      <md-menu-content width="4">
        <md-menu-item><md-button ng-click="showSettings()">設置...</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doReset()">重置</md-button></md-menu-item>
        <md-divider></md-divider>
        <md-menu-item><md-button ng-click="showAbout()">關於 natoPlay-ng</md-button></md-menu-item>
      </md-menu-content>
    </md-menu>
    </div>
  </md-toolbar>
  <!-- body -->
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <!-- server -->
      <md-tab label="控制端" md-on-select="setmode('server')">
        <md-content class="md-padding">
          <section name="server" ng-controller="playServer" class="md-padding"> 
            <!-- task add -->
            <md-whiteframe layout="column" class="md-whiteframe-1dp md-padding">
            <div><h2 class="md-title">任務管理</h2></div>
            <md-input-container>
              <label>頻率</label>
              <input required name="newTaskFreq" ng-model="newTask.freq">
            </md-input-container>
            <md-input-container>
              <label>持續時間</label>
              <input required name="newTaskDur" ng-model="newTask.duration">
            </md-input-container>
            <md-input-container>
              <label>間隙時長</label>
              <input required name="newTaskIntv" ng-model="newTask.interval">
            </md-input-container>
            <md-input-container>
              <label>級別</label>
              <input required name="newTaskLevel" ng-model="newTask.level">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="addTask()">添加任務</md-button>
            </md-whiteframe>
            <!-- task list -->
            <md-whiteframe layout="column" class="md-whiteframe-1dp md-padding">
            <div><h2 class="md-title">任務清單</h2></div>
            <md-list-item ng-repeat="task in tasks">
              <p>{{ task | visualizeTask }}</p>
              <md-menu class="md-secondary">
                <md-button class="md-icon-button"><md-icon md-svg-icon="assets/img/more.svg"></md-icon></md-button>
                <md-menu-content width="4">
                  <md-menu-item><md-button ng-click="removeTask(task.id)">刪除</md-button></md-menu-item>
                </md-menu-content>
              </md-menu>
              <md-divider></md-divider>
            </md-list-item>
            </md-whiteframe>

            <!-- TODO: makes list full page, add action button to provide taskadd dialog. -->
            <!--<md-fab-speed-dial ng-hide="server_ui.speeddial_hidden" md-direction="left" md-open="server_ui.speeddial_open" 
                               class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': server_ui.speeddial_.hover }"
                               ng-mouseenter="server_ui.speeddial_open=true" ng-mouseleave="server_ui.speeddial_open=false">
              <md-button aria-label="action" class="md-fab md-warn">
                <md-tooltip md-direction="top" md-visible="tooltipVisible">操作</md-tooltip>
                <md-icon md-svg-src="assets/img/menu.svg" aria-label="action"></md-icon>
              </md-button>
              <md-fab-actions>
                <md-button class="md-fab md-raised md-mini" aria-label="addTask" ng-click="toggleTaskaddDialog()" >
                  <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false">新增任務</md-tooltip>
                  <md-icon md-svg-icon="assets/img/more.svg"></md-icon>
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>-->

          </section>
        </md-content>
      </md-tab>
      <!-- client -->
      <md-tab label="被控制端" md-on-select="setmode('client')">
        <md-content class="md-padding">
        <section name="server" layout="column" ng-controller="playClient" class="md-padding">
          <md-whiteframe class="md-whiteframe-1dp md-padding">
           <p>你沒有什麼可做的。在「設置...」可以設定伺服器位址與控制 ID。</p>
           <p>控制 ID 應與控制端 ID 保持一致。</p>
          </md-whiteframe>
        </section>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
  </div>

</body>
</html>
